@use "styles/global.scss" as g;

$select-btn-size: g.$input-h - 8 * g.$select-p;
$selected-p: 2 * g.$select-p;

span.select::after {
  top: g.$select-p;
}

.selectedList {
  @extend %fd-col;

  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: g.$input-h;
  background-color: inherit;
  border-radius: inherit;
  pointer-events: none;

  &Tags {
    flex-direction: row;
    width: auto;
  }
}

.selectedOption {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr 2fr;
  align-items: center;
  padding: g.$select-p;
  padding-left: $selected-p;
  background-color: g.$bg-grey-l1;
  border-radius: g.$br-medium;

  .closeBtn {
    width: $select-btn-size;
    height: $select-btn-size;
    margin-right: 5px;
  }

  &Tag {
    flex-direction: row;
    grid-template-columns: auto auto;
    width: auto;
    padding: $selected-p;
    padding-right: 10px;
  }
}

span.projectRoleSelectWrapper {
  align-items: center;
  height: $select-btn-size + $selected-p;
  min-height: unset;
  margin-bottom: 0;
  padding: 0 $selected-p;
  pointer-events: all;

  &::after {
    width: $select-btn-size;
    height: $select-btn-size;
  }

  select {
    padding-left: 5px;
  }
}

.dates {
  display: flex;

  input {
    display: flex;
    flex-grow: 1;
    padding-right: g.$input-text-p;
    border-radius: g.$br-medium;
  }

  input:first-of-type {
    margin-right: g.$input-m;
  }
}