@use "styles/global.scss" as g;

div.message {
  cursor: pointer;
  backdrop-filter: none;
  pointer-events: none;
}

.messageContainer {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 3;
  min-width: g.$error-msg-min-w;
  max-width: g.$error-msg-max-w;
  border-radius: g.$br-small;
  pointer-events: all;
}

.text {
  display: block;
  padding: 5px 30px;
  font-size: 0.75em;
  word-break: break-all;
}

.timeBar {
  position: absolute;
  bottom: 1px;
  height: 1px;
  background-color: #fff;
}

.error {
  background-color: g.$bg-red;
}

.info {
  background-color: g.$bg-blue;
}