@use "styles/global.scss" as g;

$profile-img-size: 150px;

.profileCard {
  &Head, &Common {
    display: flex;
    justify-content: space-between;
  }
}

.image {
  @extend %v-c;

  width: $profile-img-size;
  height: $profile-img-size;
  border: 1px solid g.$bg-grey-l0;
  border-radius: g.$br-large;
}

.infoAbout {
  @extend %fd-col;

  margin-top: g.$card-key-value-m;

  &Key {
    margin-bottom: 0.5 * g.$card-key-value-m;
  }

  &Value {
    text-indent: g.$content-par-indent;
  }
}

.edit {
  display: flex;
  justify-content: flex-end;
  margin-top: g.$section-m-small;
  font-size: g.$content-fz-small;
}

.btnCancelEdit {
  margin: 0 auto;
}