@use "styles/global.scss" as g;

$profile-img-size: 150px;
$key-value-m: 30px;

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: g.$section-m;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-gap: $key-value-m;
  width: auto;

  &Key {
    text-align: right;
  }
}

.image {
  @extend %v-c;

  width: $profile-img-size;
  height: $profile-img-size;
  border: 1px solid g.$bg-grey-l0;
  border-radius: g.$br-large;
}

.infoAbout {
  @extend %fd-col;

  &Key {
    margin-bottom: 0.5*$key-value-m;
  }
}

.edit {
  display: flex;
  justify-content: flex-end;
  font-size: g.$content-fz-small;
  margin-top: g.$section-m-small;
}

.btnCancelEdit {
  margin: 0 auto;
  font-size: g.$content-fz;
}