@use "styles/global.scss" as g;

.newsCardCommon {
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
}

.projectsHeader {
  margin: 0 auto;
}

.actions {
  &Container {
    display: flex;
    justify-content: flex-end;
    padding-right: g.$content-p;
  }

  &Select {
    border: none;
    outline: none;
  }
}

.btnEdit {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
