@use "styles/global.scss" as g;

.form {
  margin-bottom: g.$input-m;
}

.passwords {
  display: flex;

  input {
    display: flex;
    flex-grow: 1;
  }

  input:first-of-type {
    margin-right: g.$input-m;
  }
}