@use "./constants" as c;
@use "./theme" as t;

/* Flex align */
%v-c {
  display: flex;
  align-items: center;
}

%v-c-h-sb {
  @extend %v-c;

  justify-content: space-between;
}

%v-c-h-sa {
  @extend %v-c;

  justify-content: space-around;
}

%v-c-h-c {
  @extend %v-c;

  justify-content: center;
}

%fd-col {
  display: flex;
  flex-direction: column;
}

/* Form */
%input {
  height: c.$input-h;
  margin-bottom: c.$input-m;
  padding-left: c.$input-text-l-p;
  font-size: c.$input-fz;
  font-family: c.$default-ff;
  background-color: t.$bg-grey-l0;
  border-radius: t.$br-small;
}
