@forward "./null";
@forward "./placeholders";
@forward "./fonts";
@forward "./constants";
@forward "./theme";
@forward "./form";
@use "./constants" as c;
@use "./theme" as t;

.modal {
  @extend %v-c-h-c;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(c.$modal-backdrop-blur-r) brightness(c.$modal-backdrop-brightness);

  &Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* Anchor */
:global(.anchor) {
  scroll-margin-top: c.$header-h;
}

/* Elements hover / active */
:global(.clickable):not(:disabled) {
  &:hover {
    transform: c.$clickable-transform-hover;
  }

  &:active {
    transform: c.$clickable-transform-active;
  }

  cursor: pointer;
}

span.clickable {
  display: block;
}

/* Content section w1240px */

article {
  margin-bottom: c.$section-m;
}

:global(.sectionLike),
section {
  margin-bottom: c.$section-m-small;
  padding: c.$section-p;
  overflow: hidden;
  background-color: t.$bg-grey-l1;
  border-radius: t.$br-large;

  &:last-of-type {
    margin-bottom: 0;
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;
    }

    li {
      margin-left: c.$content-par-indent;
    }
  }

  p {
    text-indent: c.$content-par-indent;
  }
}

.btn {
  @extend %v-c-h-c;

  display: block;
  width: c.$btn-w;
  height: c.$btn-h;
  color: t.$txt-white;
  background-color: t.$bg-grey-l0;
  border-top: t.$btn-border-h;
  border-bottom: t.$btn-border-h;
  border-radius: t.$br-medium;

  &Large {
    width: c.$btn-large-w;
  }
}

:global(.btnClose) {
  width: c.$input-h;
  height: c.$btn-h;
  color: t.$txt-white;
  background: url("../assets/images/crux.svg");
  background-color: t.$bg-grey-l0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40%;
  border-top: t.$btn-border-h;
  border-bottom: t.$btn-border-h;
  border-radius: t.$br-medium;
  pointer-events: fill;
}

.tag {
  flex-direction: row;
  grid-template-columns: auto auto;
  width: min-content;
  margin-left: c.$section-m-small;
  padding: 5px 10px;
  font-size: c.$content-fz-small;
  background-color: t.$bg-black;
  border-radius: t.$br-medium;

  &:first-of-type {
    margin-left: 0;
  }

  &List {
    display: flex;
  }
}


.card {
  &Head {
    margin-bottom: c.$section-m-small;
    font-size: c.$content-fz-small;
    text-align: right;
  }

  &Common {
    display: grid;
    grid-gap: 0.5 * c.$card-key-value-m c.$card-key-value-m;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: auto;
  }

  &Key {
    text-align: right;
    text-transform: capitalize;
  }
}


span, button {
  color: t.$txt-white;
  font-size: c.$content-fz;
  font-family: c.$default-ff;
}

/* Headers / p */
h1,
h2,
h3 {
  text-transform: capitalize;
}

h1 {
  margin-bottom: c.$h1-m-b;
  font-size: c.$h1-fz;
}

h2 {
  margin-bottom: c.$h2-m-b;
  font-size: c.$h2-fz;
}

h3 {
  margin-bottom: c.$h3-m-b;
  font-size: c.$h3-fz;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: c.$scrollbar-size;
  height: c.$scrollbar-size;
  background-color: t.$bg-black;
}

::-webkit-scrollbar-thumb {
  background-color: t.$bg-grey-l1;
}
